<!-- Default home page -->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/middlepage.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script type="text/javascript">
    setTimeout(function sunrise () {
      document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
    }, 0);
    function change(){
      window.location.href="./question"
    }
    </script>
  </head>
  <body>
  <div class="default-page">
    <div class="header">
      <h1 id="main-title" class="container"><label><%= __('问卷调查') %></label></h1>
    </div>
    <div class="main-box">
      <br>
      <hr>
      <div class="main">
        <img src="./images/nasetech.jpg">
        <div class="thank">
        <h2><label>你已提交过问卷</label></h2>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-5">
            <button type="submit" class="btn col-lg-offset-1 btn-default btn-md btn-default" onclick="change()">返回首页</button>
          </div>
        </div>    
      </div>
    </div>
  </div>
  </body>
</html>