<!-- Default home page -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
  <style>
    /* Styles included inline since you'll probably be deleting this page anyway */
    html,body{
      text-align:left;font-size:1em
      }
    html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h2,h4,h5,h6,pre,code{margin:0;padding:0}
    *:active,*:focus{outline:0;-moz-outline-style:none}
    h1,h2,h2,h4,h5,h6{font-weight:normal}
    body{font-family:"Open Sans",Arial,sans-serif;font-weight:300;}
    div.header {text-align: center;-webkit-transition: 6s; -moz-transition: 6s; -o-transition: 6s;transition: 6s; background: rgba(0, 36, 41, 0.89)  no-repeat 42% bottom; padding: 70px  0px;}
    .header h1#main-title{color: #111; font-weight: 300; font-size: 2.5em;text-align: top;}
    .header h2{color: #b1eef7; font-style: italic; font-weight: 300;text-align: center;}
    .header h2 code{text-align: center;font-style: normal!important; background-color: rgba(255,255,255,0.5); font-weight: 300; color:#0e6471; margin: 0px 5px;}
    code {font-size: inherit; font-family: 'Consolas', 'Monaco', monospace; padding:4px 5px 1px; background-color: #f3f5f7}
    .pocket{display:none;}
    div.main{margin-left: auto;margin-right: auto;border-style:solid;border-radius: 16px;border-color: #ccc; border-width: 2px;height: 60%; background-color: #ffe;}
    div.thank{margin-top: 5%; text-align: center}
    div.goback{position:absolute;right:48%;}
    div.main-box{margin-left: auto;margin-right: auto;width:80%;}
  </style>
  <script type="text/javascript">
  setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  }, 0);
  function change(){
    window.location.href="./question"
  }
  </script>
  <div class="default-page">
    <div class="header">
      <h1 id="main-title" class="container"><label><%= __('问卷调查') %></label></h1>
    </div>
    <div class="main-box">
      <br>
      <hr>
      <div class="main">
        <img src="./images/nasetech.jpg">
        <div class="thank">
        <h2><label>你已提交过问卷</label></h2>
        </div>
        <div class="goback">
          <br>
          <input type="submit" name="submit" value="返回首页" onclick="change()">
        </div>      
      </div>
    </div>
  </div>
  
  